<settings>

    <setting propertyKey="@Properties.Theme" title="@Strings.SettingsTheme">
        <settingConfig type="list">
            <listEntry value="0">@Strings.ThemeBlackAndBlue</listEntry>
        </settingConfig>
    </setting>

    <group id="groupWidgets" title="@Strings.SettingsgroupWidgetsTitle">
        <setting propertyKey="@Properties.WidgetBatteryShowDays" title="@Strings.SettingsWidgetBatteryShowDays">
            <settingConfig type="boolean"/>
        </setting>
    </group>

</settings>
