<settings>

    <setting propertyKey="@Properties.appVersion" title="@Strings.AppVersion">
        <settingConfig type="alphaNumeric" readonly="true" />
    </setting>

    <setting propertyKey="@Properties.Theme" title="@Strings.Theme">
        <settingConfig type="list">
            <listEntry value="0">@Strings.ThemeBlackAndBlue</listEntry>
        </settingConfig>
    </setting>

</settings>
