<settings>

    <setting propertyKey="@Properties.Theme" title="@Strings.SettingsTheme">
        <settingConfig type="list">
            <listEntry value="0">@Strings.ThemeDarkBlue</listEntry>
            <listEntry value="2">@Strings.ThemeSunset</listEntry>
            <listEntry value="3">@Strings.ThemeBaW</listEntry>
            <listEntry value="666">@Strings.ThemeBSoD</listEntry>
        </settingConfig>
    </setting>

    <group id="groupBackground" title="@Strings.SettingThemeBackground">
        <setting propertyKey="@Properties.Background" title="@Strings.SettingThemeBackgroundResource">
            <settingConfig type="list">
                <listEntry value="1">@Strings.SettingThemeBackgroundSystem</listEntry>
                <listEntry value="2">@Strings.SettingThemeBackgroundFixedColorSelect</listEntry>
            </settingConfig>
        </setting>

        <setting propertyKey="@Properties.BackgroundColorType" title="@Strings.SettingThemeBackgroundFixedColor">
            <settingConfig type="list">
                <listEntry value="0">@Strings.SettingThemeBackgroundPredefinedSelect</listEntry>
                <listEntry value="1">@Strings.SettingThemeBackgroundColorCustom</listEntry>
            </settingConfig>
        </setting>

        <setting propertyKey="@Properties.BackgroundColorPredefined" title="@Strings.SettingThemeBackgroundPredefined">
            <settingConfig type="list">
                <listEntry value="0">@Strings.SettingThemeBackgroundColorBlack</listEntry>
                <listEntry value="1">DarkSlateGrey</listEntry>
                <listEntry value="2">@Strings.SettingThemeBackgroundColorDarkGrey</listEntry>
                <listEntry value="3">@Strings.SettingThemeBackgroundColorVeryDark</listEntry>
                <listEntry value="4">@Strings.SettingThemeBackgroundColorDarkRed</listEntry>
                <listEntry value="5">@Strings.SettingThemeBackgroundColorDarkBlue</listEntry>
                <listEntry value="6">@Strings.SettingThemeBackgroundColorBlue</listEntry>
                <listEntry value="666">@Strings.ThemeBSoD</listEntry>
            </settingConfig>
        </setting>

        <setting propertyKey="@Properties.BackgroundColorCustom" title="@Strings.SettingThemeBackgroundColorCustom">
            <settingConfig type="alphaNumeric" />
        </setting>
    </group>

    <group id="groupColors" title="@Strings.SettingsColors">
        <setting propertyKey="@Properties.CustomColors" title="@Strings.SettingsColorsCustomize">
            <settingConfig type="list">
                <listEntry value="0">@Strings.No</listEntry>
                <listEntry value="1">@Strings.Yes</listEntry>                
            </settingConfig>
        </setting>

        <setting propertyKey="@Properties.TextColor" title="@Strings.SettingsColorsText">
            <settingConfig type="alphaNumeric" />
        </setting>

        <setting propertyKey="@Properties.DateColorWeekday" title="@Strings.SettingsColorsDateColorWeekday">
            <settingConfig type="alphaNumeric" />
        </setting>

        <setting propertyKey="@Properties.DateColorDay" title="@Strings.SettingsColorsDateColorDay">
            <settingConfig type="alphaNumeric" />
        </setting>

        <setting propertyKey="@Properties.DateColorYear" title="@Strings.SettingsColorsDateColorYear">
            <settingConfig type="alphaNumeric" />
        </setting>

        <setting propertyKey="@Properties.TimeColorHours" title="@Strings.SettingsColorsTimeHours">
            <settingConfig type="alphaNumeric" />
        </setting>

        <setting propertyKey="@Properties.TimeColorMinutes" title="@Strings.SettingsColorsTimeMinute">
            <settingConfig type="alphaNumeric" />
        </setting>

        <setting propertyKey="@Properties.TimeColorSeconds" title="@Strings.SettingsColorsTimeSecond">
            <settingConfig type="alphaNumeric" />
        </setting>

        <setting propertyKey="@Properties.TimeColorAMPM" title="@Strings.SettingsColorsTimeAMPM">
            <settingConfig type="alphaNumeric" />
        </setting>

        <setting propertyKey="@Properties.IconsInTextColor" title="@Strings.SettingsColorsIcons">
            <settingConfig type="list">
                <listEntry value="0">@Strings.No</listEntry>
                <listEntry value="1">@Strings.Yes</listEntry>                
            </settingConfig>
        </setting>
    </group>

    <group id="groupWidgets" title="@Strings.SettingsgroupWidgetsTitle">
        <setting propertyKey="@Properties.ClockLeadingZero" title="@Strings.SettingsWidgetClockLeadingZero">
            <settingConfig type="list">
                <listEntry value="1">@Strings.Yes</listEntry>
                <listEntry value="0">@Strings.No</listEntry>
            </settingConfig>
        </setting>

        <setting propertyKey="@Properties.ShowStepsPercent" title="@Strings.SettingsShowStepsPercent">
            <settingConfig type="list">
                <listEntry value="1">@Strings.Yes</listEntry>
                <listEntry value="0">@Strings.No</listEntry>
            </settingConfig>
        </setting>

        <setting propertyKey="@Properties.StressWarningLevel" title="@Strings.SettingsStressWarningLevel">
            <settingConfig type="numeric"/>
        </setting>

        <setting propertyKey="@Properties.WarningRespirationRate" title="@Strings.SettingsRespirationRateWarningLevel">
            <settingConfig type="numeric"/>
        </setting>
    </group>

</settings>
