<settings>

    <setting propertyKey="@Properties.Theme" title="@Strings.SettingsTheme">
        <settingConfig type="list">
            <listEntry value="0">@Strings.ThemeDarkBlue</listEntry>
            <listEntry value="1">@Strings.ThemeDarkGrey</listEntry>
            <listEntry value="2">@Strings.ThemeDarkRed</listEntry>
        </settingConfig>
    </setting>

    <group id="groupWidgets" title="@Strings.SettingsgroupWidgetsTitle">
        <setting propertyKey="@Properties.WidgetBatteryShowDays" title="@Strings.SettingsWidgetBatteryShowDays">
            <settingConfig type="boolean"/>
        </setting>

        <setting propertyKey="@Properties.StressWarningLevel" title="@Strings.SettingsStressWarningLevel">
            <settingConfig type="numeric"/>
        </setting>

        <setting propertyKey="@Properties.WarningRespirationRate" title="@Strings.SettingsRespirationRateWarningLevel">
            <settingConfig type="numeric"/>
        </setting>
    </group>

</settings>
